In [2]:
import numpy as np
import pandas as pd

# Selection with Loc and iloc Part 1

In [3]:
cities = pd.DataFrame(np.arange(16).reshape(4, 4),
                     index = ['one', 'two', 'three', 'four'],
                     columns = ['Karachi', 'Lahore', 'Peshawar', 'Islamabad'])

cities

       Karachi  Lahore  Peshawar  Islamabad
one          0       1         2          3
two          4       5         6          7
three        8       9        10         11
four        12      13        14         15

In [11]:
#Dictionary Style
print(cities['Karachi'])  #dictionary like style of accessing data
print("--------------")
print(cities['Karachi'][1:])

one       0
two       4
three     8
four     12
Name: Karachi, dtype: int32
--------------
two       4
three     8
four     12
Name: Karachi, dtype: int32

In [10]:
#Attribute Style
#we also have a attribute style in dataframe which is use by column name
print(cities.Karachi)
print("-------------------")
#if you want some specific rows data than,
print(cities.Karachi[1:])

one       0
two       4
three     8
four     12
Name: Karachi, dtype: int32
-------------------
two       4
three     8
four     12
Name: Karachi, dtype: int32

In [17]:
#conditional Filtering
#by dictionary style
print(cities[cities['Karachi']>5])   #apply condition on all columns
print('-------------------')
#by attribute style
print(cities.Karachi[cities['Karachi']>5])

       Karachi  Lahore  Peshawar  Islamabad
three        8       9        10         11
four        12      13        14         15
-------------------
three     8
four     12
Name: Karachi, dtype: int32

In [22]:
#creating boolean dataframe
bool_df = cities['Karachi']>5
print(bool_df)
print("------------------------")
print(cities[bool_df])

one      False
two      False
three     True
four      True
Name: Karachi, dtype: bool
------------------------
       Karachi  Lahore  Peshawar  Islamabad
three        8       9        10         11
four        12      13        14         15

# Selection with Loc and iloc Part 2

In [25]:
#in the loc method, specify rows label than specify columns name
#remember! multiple column names requires array notations
cities_one = pd.DataFrame(np.arange(16).reshape(4, 4),
                     index = ['one', 'two', 'three', 'four'],
                     columns = ['Karachi', 'Lahore', 'Peshawar', 'Islamabad'])

cities_one

       Karachi  Lahore  Peshawar  Islamabad
one          0       1         2          3
two          4       5         6          7
three        8       9        10         11
four        12      13        14         15

In [37]:
#arrangement can be change according to data
print(cities_one.loc['one', ['Karachi', 'Lahore']])
#if you wanna gives two rows than, use python list to gives multiple rows and columns
print("----------------------------")
print(cities_one.loc[['one', 'four'], ['Karachi', 'Lahore']])
#we can also selecting values by numbers, this is basically fancy indexing
print("----------------------------")
print(cities_one.iloc[2, [0,1]])
#to print all the value of dataframe, we use
print("-----------------------------")
print(cities_one.iloc[:])

Karachi    0
Lahore     1
Name: one, dtype: int32
----------------------------
      Karachi  Lahore
one         0       1
four       12      13
----------------------------
Karachi    8
Lahore     9
Name: three, dtype: int32
-----------------------------
       Karachi  Lahore  Peshawar  Islamabad
one          0       1         2          3
two          4       5         6          7
three        8       9        10         11
four        12      13        14         15

In [39]:
#on fancy indexing
#iloc[starting value : ending value(for rows), starting value : ending value(for column)]
print("------------------------------")
print(cities_one.iloc[ : , :2])  #all rows and two columns(from start)
print("------------------------------")
print(cities_one.iloc[ : , 1:3])  #all rows but columns two and three
#if you gives only single statement than, its work for row only
print("------------------------------")
print(cities_one.iloc[:2])

------------------------------
       Karachi  Lahore
one          0       1
two          4       5
three        8       9
four        12      13
------------------------------
       Lahore  Peshawar
one         1         2
two         5         6
three       9        10
four       13        14
------------------------------
     Karachi  Lahore  Peshawar  Islamabad
one        0       1         2          3
two        4       5         6          7