In [33]:
#Make sure to re-run this block to access all pandas attributes
import pandas as pd
import numpy as np

# Series Object Part 1

In [2]:
#by using pandas, we can pre-process and manage data properly and filter as well
#this is section 5.1 from the book

series = pd.Series([1,4,6,9]) #values passing by python list in 1D array
print(series)   #Series() is the built-in function in pandas to create data table
#you can directly acces both values and index by using pandas

0    1
1    4
2    6
3    9
dtype: int64

# Series Object Part 2

In [17]:
#Series_name.values, gives you the values of your pandas series
sales = pd.Series([100,300,500,700])
print("Indexes of Sales:{}".format(sales.index)) #sales.index gives you that range(start value, ending value and step value)
print("Values of Sales:{}".format(sales.values))

#we can set index non-numeric, new thing that in pandas
salaries = pd.Series([10000, 32000, 34000, 50000], index = ['Waleed', 'Daniyal', 'Abu Bakar', 'Huzaifa Khan'])
print("\n")
print("Name\t\tSalary")
print(salaries)

Indexes of Sales:RangeIndex(start=0, stop=4, step=1)
Values of Sales:[100 300 500 700]


Name		Salary
Waleed          10000
Daniyal         32000
Abu Bakar       34000
Huzaifa Khan    50000
dtype: int64

In [14]:
#you can select any value as a index to access the value

youtuber = pd.Series(['5$-17$', '6$-26$'], index = ['DuckyBhai', 'Raza Samo'])
print("Name\t     Salary")
print(youtuber)

Name	     Salary
DuckyBhai    5$-17$
Raza Samo    6$-26$
dtype: object

# Series Object Part 3

In [22]:
youtuber = pd.Series(['5$-17$', '6$-26$'], index = ['DuckyBhai', 'Raza Samo'], name = 'Two Youtuber Average Salaries')
print("For only Values:")  #if compilar can't understand the type of any attribute than, it decleared it object
print(youtuber.values)    #object can store any type of data
print("Index Info:")
print(youtuber.index)
print("\n")
print("Whole Detail About Our Object:")
print(youtuber)

For only Values:
['5$-17$' '6$-26$']
Index Info:
Index(['DuckyBhai', 'Raza Samo'], dtype='object')


Whole Detail About Our Object:
DuckyBhai    5$-17$
Raza Samo    6$-26$
Name: Two Youtuber Average Salaries, dtype: object

# Series Object Part 4 & 5

In [8]:
#if you don't give index to your series than pandas will automatically gives index starting from 0
# in video 4, teacher explain the question and video 2, teacher code that task
canteen = pd.Series(['100 Sandwiches', '110 Sandwiches', '120 Sandwiches', '90 Sandwiches', '130 Sandwiches', '80 Sandwiches',
                    '135 Sandwiches'], index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                    name = '7 Days Record of Selling Sandwiches at Khans Bakery')

print(canteen)

Monday       100 Sandwiches
Tuesday      110 Sandwiches
Wednesday    120 Sandwiches
Thursday      90 Sandwiches
Friday       130 Sandwiches
Saturday      80 Sandwiches
Sunday       135 Sandwiches
Name: 7 Days Record of Selling Sandwiches at Khans Bakery, dtype: object

# Series Object Part 6

In [11]:
canteen_two = pd.Series(['100 Burgers', '110 Burgers', '120 Burgers', '90 Burgers', '130 Burgers','80 Burgers','135 Burgers'],
                        index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                    name = '7 Days Record of Selling Burgers at Khans Bakery')

In [12]:
print(canteen_two[2])  #same indexing process like list or numpy arrays
#but for pandas, me can access values by index attributes
print(canteen_two['Wednesday'])
#we can also access multiple values using index,
#for providing multiple index for selecting element in an pd series, use array notation
print(canteen_two[[1,4]])
#by pandas indexing attrributes,
print(canteen_two[['Monday','Saturday']])

120 Burgers
120 Burgers
Tuesday    110 Burgers
Friday     130 Burgers
Name: 7 Days Record of Selling Burgers at Khans Bakery, dtype: object
Monday      100 Burgers
Saturday     80 Burgers
Name: 7 Days Record of Selling Burgers at Khans Bakery, dtype: object

In [13]:
canteen_three = pd.Series([10, 20, 30, 40, 50, 60, 70], 
                          index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                         name = '7 Days Record of Selling Pizzas at Khans Bakery')

#we can access values by using operators, like
print(canteen_three[canteen_three > 30])  #all values print that will be greater than 30
#in square bracket, we tell pandas that we want to perform some operations

Thursday    40
Friday      50
Saturday    60
Sunday      70
Name: 7 Days Record of Selling Pizzas at Khans Bakery, dtype: int64

# Series Object Part 7

In [24]:
canteen_four = pd.Series([100, 200, 300, 400, 500, 600, 700], 
                          index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                         name = '7 Days Record of Selling Pizzas at King Broast')

print(canteen_four * 2)   #you can multiply the whole series just like you multiply any single value
#but this multiplication doesn't affect on the original value of canteen_four series
print("\n")
print(canteen_four)  #original value will remain same

Monday        200
Tuesday       400
Wednesday     600
Thursday      800
Friday       1000
Saturday     1200
Sunday       1400
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: int64


Monday       100
Tuesday      200
Wednesday    300
Thursday     400
Friday       500
Saturday     600
Sunday       700
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: int64

In [25]:
#you can append the values  on the series by performing operations
canteen_four = canteen_four * 2
print(canteen_four)

Monday        200
Tuesday       400
Wednesday     600
Thursday      800
Friday       1000
Saturday     1200
Sunday       1400
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: int64

In [26]:
#you can also get your values back just by dividing the whole series with 2
canteen_four = canteen_four / 2
print(canteen_four)  #it's gives the answer in float because of division operation

Monday       100.0
Tuesday      200.0
Wednesday    300.0
Thursday     400.0
Friday       500.0
Saturday     600.0
Sunday       700.0
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: float64

# Series Object Part 8

In [30]:
#we do:
# 1) creating any series
# 2) Indexing any Seires(we can use any sort of labels in series(non-integer values))
# 3) we can also learn that we can internal name of our series 
# 4) we can apply mathematical operations on our series (do more now)
print(canteen_four)
canteen_four = canteen_four + 10
print("\n")
print("After adding 10 three times: \n{}".format(canteen_four))  #because i run this line 3 times

Monday       120.0
Tuesday      220.0
Wednesday    320.0
Thursday     420.0
Friday       520.0
Saturday     620.0
Sunday       720.0
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: float64


After adding 10 three times:
Monday       130.0
Tuesday      230.0
Wednesday    330.0
Thursday     430.0
Friday       530.0
Saturday     630.0
Sunday       730.0
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: float64

In [31]:
canteen_four = canteen_four - 30
print("After Substracting 30:\n{}".format(canteen_four))

After Substracting 30:
Monday       100.0
Tuesday      200.0
Wednesday    300.0
Thursday     400.0
Friday       500.0
Saturday     600.0
Sunday       700.0
Name: 7 Days Record of Selling Pizzas at King Broast, dtype: float64

# Series Object Part 9 & 10

In [32]:
#if you wanna check that if there is any index exist of not than,
'Saturday' in canteen_four  #return boolean answer

True

In [35]:
#by using numpy library, we creating array of numpy
values_of_numpy = np.array([1,3,5,7,9])
index_of_numpy = np.array(['a', 'b', 'c', 'd', 'e'])

In [39]:
#you can create series of pandas by numpy array by,
#pd.series(array of numpy, index = another array of numpy)
series_by_numpy = pd.Series(values_of_numpy, index = index_of_numpy)
print("Generating Pandas Series by Numpy's Array:")
print(series_by_numpy)

Generating Pandas Series by Numpy's Array:
a    1
b    3
c    5
d    7
e    9
dtype: int32

# Series Object Part 11

In [41]:
#we can also take data from dictionay and save it into our pandas series
state_data = {
    'Sindh' : 35000,
    'Punjab' : 4000,
    'Balochistan' : 3500,
    'KPK' : 3000
}

# we can convert python dictionary into pandas series, by
tax_by_state = pd.Series(state_data)
print(tax_by_state)

Sindh          35000
Punjab          4000
Balochistan     3500
KPK             3000
dtype: int64

In [42]:
# you can also access the index and values of series of pandas by same
print(tax_by_state.index)
print(tax_by_state.values)

Index(['Sindh', 'Punjab', 'Balochistan', 'KPK'], dtype='object')
[35000  4000  3500  3000]

# Series Object Part 12

In [46]:
#Source for series data
# 1) direct data in the series method
# 2) from numpy array or default list
# 3) from dictionary

In [45]:
#you can also reassign the index but it can't change the value on index
income_by_state = {
    'Sindh' : 35000000,
    'Punjab' : 4000000,
    'Balochistan' : 3500000,
    'KPK' : 3000000
}

income_state_in_series = pd.Series(income_by_state)
print(income_state_in_series)
#but if you wanna change the index position than,
income_state_in_series = pd.Series(income_by_state, index = ['Punjab', 'Sindh', 'Balochistan', 'KPK'])
print("\n")  # 'Sindh' index have the same value weather the index is change, values will be reshuffle
print("After changing the index, values are:")
print(income_state_in_series)
#if any series hasn't values belonging to my order than, i'll change the order and value will automatically shuffle

Sindh          35000000
Punjab          4000000
Balochistan     3500000
KPK             3000000
dtype: int64


After changing the index, values are:
Punjab          4000000
Sindh          35000000
Balochistan     3500000
KPK             3000000
dtype: int64

# Series Object Part 13 & 14

In [50]:
#if there is any null value in our series, we can identify/check it by
income_by_cities = {
    'Karachi' : 35000000,
    'Lahore' : 4000000,
    'Quetta' : 3500000,
    'Peshawar' : 3000000
}
#returns, NaN value means no value against any index, NaN are those values which don't exist
#NaN is neither zero nor empty value, NaN means the value is missing or we forgot to gives series that value
income_cities_in_series = pd.Series(income_by_cities, index = ['Lahore', 'Karachi', 'Quetta', 'Peshawar', 'Multan'])
print(income_cities_in_series)
print("\n")
#pd.isnull() is the method while series_name.isnull() is function
print("Checking Null values by Method pd.isnull():\n{}".format(pd.isnull(income_cities_in_series)))  #return series of boolean
print("Checking Null values by Function isnull():\n{}".format(income_cities_in_series.isnull()))

Lahore       4000000.0
Karachi     35000000.0
Quetta       3500000.0
Peshawar     3000000.0
Multan             NaN
dtype: float64


Checking Null values by Method pd.isnull():
Lahore      False
Karachi     False
Quetta      False
Peshawar    False
Multan       True
dtype: bool
Checking Null values by Function isnull():
Lahore      False
Karachi     False
Quetta      False
Peshawar    False
Multan       True
dtype: bool

In [53]:
income_by_cities_two = {
    'Sukkhar' : 350000,
    'Rawalpindi' : 400000,
    'Sialkot' : 350000,
    'Islamabad' : 300000
}

income_cities_in_series_two = pd.Series(income_by_cities_two, 
                                        index = ['Rawalpindi', 'Sukkhar', 'Sialkot', 'Islamabad', 'Daadu'])
print(income_cities_in_series_two)
income_cities_in_series_two.name = "Income of some of the cities of Pakistan"
income_cities_in_series_two.index.name = "Name of the Cities"

print("\n{}".format(income_cities_in_series_two))
print("\n{}".format(income_cities_in_series_two.index))
#series is the building block, part or a section of the data frame, multiple series combine to form data frame

Rawalpindi    400000.0
Sukkhar       350000.0
Sialkot       350000.0
Islamabad     300000.0
Daadu              NaN
dtype: float64

Name of the Cities
Rawalpindi    400000.0
Sukkhar       350000.0
Sialkot       350000.0
Islamabad     300000.0
Daadu              NaN
Name: Income of some of the cities of Pakistan, dtype: float64

Index(['Rawalpindi', 'Sukkhar', 'Sialkot', 'Islamabad', 'Daadu'], dtype='object', name='Name of the Cities')